/*!
 *
 * GeoCanAut tools / Outil GéoCanAut
 * geocanaut.github.io/geocanaut/License-eng.txt / geocanaut.github.io/geocanaut/Licence-fra.txt
 *
 * Version: @gcaut.version@
 *
 */

@import "includes/gcaut-mixin";

%gcaut-img-val {
	margin: 0 !important;
	height: (2.2 * $rembase) + rem;
	width: (2.2 * $rembase) + rem;
}

%gcaut-button-val {
	cursor: pointer;
	background: transparent;
	padding: (0.4 * $rembase) + rem;
	margin: (0.3 * $rembase) + rem;
	position: relative;
	vertical-align: middle;
}

body {
	line-height: (3 * $rembase) + rem;
}

.ui-dialog {
	background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x!important;
}

// responsive grid (http://viget.com/inspire/building-a-nested-responsive-grid-with-sass-compass)
.row {
	#{enumerate('.span', 1, $cols, '')} {
		float: left;
		margin-left: $gutter;
	}

	@for $i from 1 through $cols {
		.span#{$i} {
			@include cols($i);

			@for $j from 1 through ($i - 1) {
				.span#{$j} {
					@include sub_cols($j, $i);
				}
			}
		}
	}

	> :first-child,
	.row > :first-child {
		margin-left: 0;
	}
}

label {
	display: inline-block;
}

.gcaut-button {
	@extend %gcaut-button-val;
	border: none;
	height: (3 * $rembase) + rem;
	width: (3 * $rembase) + rem;

	.gcaut-img-button {
		@extend %gcaut-img-val;
	}

	&:disabled {
		@include button-gradiant-disable;
		@include content-border-radius;
		cursor: none;
	}

	&:hover:enabled {
		@include button-gradiant-hover;
		@include content-border-radius;
	}

	&:focus {
		@include button-gradiant-hover;
		@include content-border-radius;
	}

	&:active:enabled {
		@include button-gradiant-active;
		@include content-border-radius;
	}
}

.gcaut-button-text {
	@extend %gcaut-button-val;
	@include content-border-radius;
	@include gcaut-border;
	
	&:disabled {
		@include button-gradiant-disable;
		@include content-border-radius;
		cursor: none;
	}

	&:hover:enabled {
		@include button-gradiant-hover;
		@include content-border-radius;
	}

	&:focus {
		@include button-gradiant-hover;
		@include content-border-radius;
	}

	&:active:enabled {
		@include button-gradiant-active;
		@include content-border-radius;
	}
}

.gcaut-img-lbl {
	@extend %gcaut-img-val;
	vertical-align: middle;
	margin-right: 5px!important;
}

.gcaut-tooltip {
	.ui-tooltip-content {
		@include app-text(1.2);
	}
}

.gcaut-subtitle {
  @include app-text(1.75, bold);
}

.gcaut-subinfo {
	margin-left: (3 * $rembase) + rem;
}

.gcaut-slider {
	height: (1.5 * $rembase) + rem!important;
}

.gcaut-message-error {
	@include app-text(1.3, normal, red);
}

.gcaut-message {
	@include app-text(1.3);
}

.gcaut-hidden {
	display: none;
}

.gcaut-visible {
	visibility: visible;
}

.gcaut-invisible {
	visibility: hidden;
}

.gcaut-tabs {
	min-height: (62.5 * $rembase) + rem;
	max-height: (70 * $rembase) + rem;
	overflow: auto;
}

input[type="file"] {
	opacity: 0;
	top:	0rem;
	left: 0rem;
	position: absolute;
	margin: 0 !important;
	height: (2.2 * $rembase) + rem;
	width: (2.2 * $rembase) + rem;
}
