/* classic slising doors example css as seen on http://www.alistapart.com/articles/slidingdoors/*/

/*
  body {
    background:#fff;
    margin:0;
    padding:0;
    color:#000;
    font:x-small/1.5em Georgia,Serif;
    voice-family: "\"}\""; voice-family:inherit;
    font-size:small;
    } html>body {font-size:small;}
*/
  .tabs {
    /*float:left;*/
    width:100%;
    /*background:#DAE0D2; url("images/bg.gif") repeat-x bottom;*/
    background:#FFFFFF;
    font-size:93%;
    text-align:center;
    line-height:normal;
    }
  .tabsdeleted {
    background:#CC6666 !important;
    position:relative;
    left:-9999px;
    }
  .tabs div.tabbody {
  	border: 2px solid #776655;
  	border-radius: 10px;
  	margin-top:41px;
    text-align:left;
  	box-shadow: 0 0 0 3px #ccc inset;
  	padding: 10px;
    }
   /*
    0 0 0 3px #999,
    0 0 0 9px #fa0,
    0 0 0 10px #666,
    0 0 0 16px #fd0,
    0 0 0 18px #000;
   */
  .tabs ul.tabs-list {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
    }
  .tabs ul.tabs-list li {
    float:left;
    background:url("images/left.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 9px;
    }
  .tabs ul.tabs-list a {
    float:left;
    display:block;
    background:url("images/right.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#765;
    }
  .tabs h2 {
  	margin:0px !important;
  }
  /* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  .tabs ul.tabs-list a {float:none;}
  /* End IE5-Mac hack */
  .tabs ul.tabs-list a:hover {
    color:#333;
    }
  .tabs ul.tabs-list .current {
    background-image:url("images/left_on.gif");
    border-width:0;
    }
  .tabs ul.tabs-list .current a {
    background-image:url("images/right_on.gif");
    color:#333;
    padding-bottom:5px;
    }



    .js .tabs .current-info,
    .js .tabs .accessibletabsanchor,
    .js .tabs .tabhead /*position each individual tab's heading (default class .tabhead) off-screen*/ {
        position:absolute;
        left:-999em;
    }
    .js .tabs .content{
        clear:both;
        margin:3em 1em 1em 1em;
    }
    .js .tabs{
        width:500px;
    }

    .tabs h1,h2,p{
        margin:1em;
    }
/*
    .tabs{
        padding:2em;
    }
*/    
  .tabs2 {
    /*float:left;*/
    width:100%;
    /*background:#DAE0D2; url("images/bg.gif") repeat-x bottom;*/
    background:#FFFFFF;
    font-size:93%;
    text-align:center;
    line-height:normal;
    }
  .tabsdeleted {
    background:#CC6666 !important;
    position:relative;
    left:-9999px;
    }
  .tabs2 div.tabbody2 {
  	border: 2px solid #776655;
  	border-radius: 10px;
  	margin-top:41px;
    text-align:left;
  	box-shadow: 0 0 0 3px #ccc inset;
  	padding: 10px;
    }
   /*
    0 0 0 3px #999,
    0 0 0 9px #fa0,
    0 0 0 10px #666,
    0 0 0 16px #fd0,
    0 0 0 18px #000;
   */
  .tabs2 ul.tabs-list {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
    }
  .tabs2 ul.tabs-list li {
    float:left;
    background:url("images/left.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 9px;
    }
  .tabs2 ul.tabs-list a {
    float:left;
    display:block;
    background:url("images/right.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#765;
    }
  .tabs2 h2 {
  	margin:0px !important;
  }
  /* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  .tabs2 ul.tabs-list a {float:none;}
  /* End IE5-Mac hack */
  .tabs2 ul.tabs-list a:hover {
    color:#333;
    }
  .tabs2 ul.tabs-list .current {
    background-image:url("images/left_on.gif");
    border-width:0;
    }
  .tabs2 ul.tabs-list .current a {
    background-image:url("images/right_on.gif");
    color:#333;
    padding-bottom:5px;
    }



    .js .tabs2 .current-info,
    .js .tabs2 .accessibletabsanchor,
    .js .tabs2 .tabhead2 /*position each individual tab's heading (default class .tabhead) off-screen*/ {
        position:absolute;
        left:-999em;
    }
    .js .tabs2 .content{
        clear:both;
        margin:3em 1em 1em 1em;
    }
    .js .tabs2{
        width:500px;
    }

    .tabs2 h1,h2,p{
        margin:1em;
    }
/*
    .tabs2{
        padding:2em;
    }
*/    
    .about{
        clear:both;
        padding:2em;
    }
