@import "compass/css3/images";

@mixin gcv-app-button {
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(153, 153, 153);
  padding: 10px 10px 0px 10px;
  color:rgb(0, 0, 0)!important;
  font-size:10pt!important;
  font-weight:bold!important;
  font-family:arial, serif!important;
  text-shadow: 0px 0px 5px rgb(255, 255, 255)!important;
  border-radius:15px 15px 15px 15px;
  -moz-border-radius:15px 15px 15px 15px;
  -webkit-border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
