@import "gcaut-mixin";

.ui-state-highlight {
	height: (2 * $rembase) + rem;
	line-height: (1.5 * $rembase) + rem;
}

.gcaut-symbol {
	width: (40 * $rembase) + rem;
	height: (15 * $rembase) + rem;
	overflow: auto;
}

.gcaut-type-1, .gcaut-type-2, .gcaut-type-3, .gcaut-type-4 {
	color: #AA253A !important;
}
