@import "gcaut-mixin";

.gcaut-layers {
	line-height: (1.75 * $rembase) + rem;
	margin-bottom: (2.25 * $rembase) + rem;
	max-height:	(30 * $rembase) + rem;
	overflow: auto;
}

.gcaut-bases {
	overflow: auto;
	line-height: (1.75 * $rembase) + rem;
	margin-bottom: (2.25 * $rembase) + rem;
}

.gcaut-mapinfo {
	height:	(40 * $rembase) + rem;
}

.gcaut-uri {
	width: 60%;
}

.gcaut-baseurl {
	@include app-text(1.2, normal, $gray);
}

#layersorder {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0 (0.03 * $rembase) + rem (0.03 * $rembase) + rem (0.03 * $rembase) + rem;
		padding: (0.04 * $rembase) + rem;
		padding-left: (0.5 * $rembase) + rem;
		@include app-text(1.2);

		span {
			display: inline-block;
		}
	}
}
